<div class="content-wrapper main-panel">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span>
      Dashboard
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">Sellers
            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{getSellerCount()}}</h2>
          <h6 class="card-text">Active {{getSellerCount('active')}}</h6>
          <h6 class="card-text">Deactive {{getSellerCount('deactive')}}</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">Consumers
            <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{getConsumerCount()}}</h2>
          <h6 class="card-text">Active {{getConsumerCount('active')}}</h6>
          <h6 class="card-text">Deactive {{getConsumerCount('blocked')}}</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <h4 class="font-weight-normal mb-3">Products
            <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{getProductsCount()}}</h2>
          <h6 class="card-text">Active {{getProductsCount("active")}}</h6>
          <h6 class="card-text">Deactive {{getProductsCount("blocked")}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>