<div class="content-wrapper main-panel">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-2">
            <h4 class="card-title">Blocked Users</h4>
            <select (change)="selectUserType($event.target.value)">
              <option value="0">All</option>
              <option value="1">Sellers</option>
              <option value="2">Consumer</option>
            </select>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Tracking ID
                  </th>
                  <th>
                    User Type
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Last Update
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="isLoading">
                  <td></td>
                  <td></td>
                  <td class="text-center">
                    Please wait...
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="!isLoading && usersList && usersList.length === 0">
                  <td></td>
                  <td></td>
                  <td class="text-center">
                    No record available!
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let obj of usersList | paginate: { itemsPerPage: maxPageItems, currentPage: page }">
                  <td>
                    <img [src]="obj && obj.imageUrl ? obj.imageUrl : '/assets/images/profile.png'" class="mr-2" alt="image">                    {{obj.email}}
                  </td>
                  <td>
                    {{obj._id}}
                  </td>
                  <td>
                    {{obj.userType === 1 ? "Seller" : "Consumer"}}
                  </td>
                  <td>
                    <label [class]="obj.deletedStatus === 2 ? 'badge badge-gradient-danger' : 'badge badge-gradient-success'">{{obj.deletedStatus === 2 ? 'BLOCKED' : 'ACTIVE'}}</label>
                  </td>
                  <td>
                    {{ obj.createdTime | date:'MMM dd, yyyy' }}
                  </td>
                  <td>
                    <label class="badge badge-gradient-info pt-2 pb-2 pr-3 pl-3" (click)="confirmUserBlock(obj._id)">{{ isBlockedUserLoading ? "Please wait..." : obj.deletedStatus === 0 ? "BLOCK" : "UNBLOCK"}}</label>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-right" *ngIf="usersList && usersList.length >= maxPageItems">
              <pagination-controls (pageChange)="page = $event" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
                nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>